.category {
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;

        & p {
            font-size: 12px;
            font-weight: 600;
        }
    }

    &-img {
        width: 5rem;
        height: 5rem;
        // border-radius: 10px;
    }

    &-icon {
        width: 50px;
        height: 50px;
        fill: $gray-color-3;
        background-color: $gray-color-2;
        border-radius: 100%;
        padding: 8px;
    }
}

.category-popup {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-color;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
    z-index: 11;
    opacity: 0;
    visibility: hidden;

    &-icon {
        width: 30px;
        height: 30px;
        fill: $primery-color;

        &-cancel {
            fill: $gray-color;
            width: 25px;
            height: 25px;
            cursor: pointer;

        }
    }

    &-title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        & div {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-p {
            font-size: 15px;
            font-weight: 600;
        }
    }

    &-box {
        margin-top: 10px;
        padding: 0 20px;
        overflow-y: scroll;
        height: 400px;

        &-title {
            margin-top: 30px;
            display: flex;
            gap: 45px;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }
    }

    &-services {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &-title {
            font-size: 15px;
            font-size: 600;
            color: $gray-color-1;

        }

        &-box {
            padding: 10px 18px;
            border-radius: 10px;
            border: 1px solid $gray-color-1;
            display: inline-block;
            padding-bottom: 30px;
        }

        &-link {
            display: flex;
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
            align-items: center;
            gap: 10px;
        }

        &-info {
            font-size: 13px;
            display: block;
            color: $gray-color-1;
        }

        &-icon {
            width: 25px;
            height: 25px;
            transform: rotate(270deg);
        }

        &-details {
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: flex-start;

            & div {
                display: flex;
                gap: 90px;
            }
        }

        &-img {
            width: 5rem;
            height: 5rem;
        }
    }
}